body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-weight: 200;
  scroll-behavior: smooth;
}

h3, h5 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.hero-image {
  background-image: url(../images/IMG_8490.JPG);
  height: 600px;
  width: auto;
  position: relative;
  margin: 40px 50px 50px 50px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  z-index: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: black;
  transition: all ease;
  animation-name: example;
  animation-duration: 3s;
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.myname {
  font-size: 50px;
}

.scroll {
  font-size: 8px;
  margin: 0;
}

.br1 {
  line-height: 0px;
}

.chevron {
  color: black;
}

.chevron:visited {
  color: black;
}

.card {
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  font-size: 33px;
}

.projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(../images/img_20.jpeg);
  background-position: center;
  background-size: cover;
  transform: translateY(-100px);
  position: relative;
  opacity: 0;
  transition: 1s all ease;
}

.projects.active {
  transform: translateY(0);
  opacity: 1;
}

.work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(../images/img_30.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  transition: 1.5s all ease;
}

.work.active {
  transform: translateY(0);
  opacity: 1;
}

.skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(../images/img_40.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  transition: 2s all ease;
}

.skills.active {
  transform: translateY(0);
  opacity: 1;
}

.grid {
  display: grid;
}

.grid__item {
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 200px 50px 200px 50px;
}

.modalblur {
  margin: 20px;
  background-color: rgba(40, 40, 40, 0.99);
}

.modal-content {
  border-radius: 30px;
}

.modal-body {
  color: white;
  margin-top: 30px;
  padding: 20px 20px 0 20px;
  text-align: center;
  z-index: 1;
}

.modal-footer {
  border: none;
}

.btn-secondary {
  margin: auto;
}

.project-pic {
  margin: 20px auto 20px auto;
  width: 500px;
}

.project-pic2 {
  height:275px;
}

.pic {
  border-radius: 10px;
}

.project-description {
  margin-top: 20px;
}

.carousel-control {
  bottom: 60%;
}

.worktable {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 0 1em;
  padding-bottom: 50px;
}

.workname {
  text-align: center;
}

.worktasks {
  text-align: left;
}

.companywebsite {
  color: white;
  text-decoration: underline;
}

.skilltable {
  margin: auto;
  table-layout: fixed;
  word-wrap: break-word;
}

.skillsli {
  list-style-type: '- ';
  text-align: left;
}

.skills-td {
  width: 500px;
}

.skills-ul {
  margin: 0 0 0 30px;
}

bi-circle-fill {
  color: black;
  font-size: 20px;
}

.languages {
  padding: 0;
}

.language-table {
  margin: auto;
}

.pdflinks {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.pdf_ger {
  display: inline-block;
}

.pdf_eng {
  display: inline-block;
}

.pdf_ru {
  display: inline-block;
}

#footer {
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  color: black;
  height: 100px;
  width: auto;
  opacity: 0.8;
  text-shadow: 2px 2px 5px grey;
}

.footer {
  margin: auto;
}

.socialicon {
  font-size: 2rem;
  margin: 20px 5px 0 5px;
}

.contact {
  color: black;
}

@media screen and (max-width: 512px) {
  .hero-image {
    margin: 20px;
  }

  .grid {
    margin: 100px 20px 100px 20px;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

@media screen and (max-device-width: 512px) and (orientation: portrait) {
  .myname {
    font-size: 35px;
  }

  .hero-text {
    top: 35%;
    font-size: 13px;
  }

  .modal-content {
    margin: auto;
  }

  .project-pic {
    width: 250px;
  }

  .carousel-control {
    bottom: 80%;
  }

  .hero-image {
    margin: 20px;
    background-position: -700px bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid {
    margin: 100px 20px 100px 20px;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .workname {
    font-size: 12px;
  }

  .worktasks {
    font-size: 12px;
  }

  .skills-ul {
    margin: 0;
  }
}

@media screen and (max-device-width: 920px) and (orientation: landscape) {
  .myname {
    font-size: 35px;
  }

  .hero-text {
    margin-top: 50px;
    top: 55%;
    font-size: 13px;
  }

  .modal-content {
    margin: auto;
  }

  .carousel-control {
    bottom: 85%;
  }

  .hero-image {
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid {
    margin: 100px 20px 100px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .workname {
    font-size: 12px;
  }

  .worktasks {
    font-size: 12px;
  }
}

@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {
  .project-pic {
    width: 350px;
  }

  .carousel-control {
    bottom: 72%;
  }

  .hero-text {
    top: 25%;
    font-size: 13px;
  }
}
