body,
html {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

h3,
h5,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.hero-image {
	background-image: url(../images/IMG_8490.JPG);
	height: 600px;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 50px 50px 50px;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	z-index: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hero-text {
	text-align: center;
	width: auto;
	z-index: 1;
	color: black;
}

.typed-out,
.typed-out2,
.typed-out3 {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 1s steps(20, end) forwards;
	width: 0;
}

.typed-out {
	font-size: 2rem;
}

.typed-out2 {
	font-size: 3rem;
	animation-delay: 1s;
}
.typed-out3 {
	font-size: 1.6rem;
	animation-delay: 2s;
	margin-top: 10px;
}

@keyframes typing {
	from {
		width: 0;
		text-align: center;
	}
	to {
		width: 100%;
	}
}

.icon {
	margin-top: 20px;
	font-size: 8px;
	animation: fadeIn 4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	72% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.chevron {
	color: black;
}

.chevron:visited {
	color: black;
}

.card {
	height: 300px;
	font-size: 40px;
	font-weight: 400;
	border: 0;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	transform: translateY(-100px);
	position: relative;
	opacity: 0;
}

.card:hover {
	text-decoration: underline;
}

.projects {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../images/img_20.jpeg);
	transition: 1s;
	z-index: 2;
}

.projects.active,
.skills.active,
.work.active {
	transform: translateY(0);
	opacity: 1;
}

.accordion {
	margin-top: 20px;
}

.accordion-header {
	background-color: transparent;
}

.accordion-body a {
	color: white;
	text-decoration: underline;
}

.accordion-item {
	background-color: transparent;
	margin-bottom: 20px;
	border: none;
}

.accordion-body h5 {
	text-align: left;
	margin-top: 5px;
}

.accordion-body input,
textarea {
	width: 250px;
	border: none;
	border-radius: 2px;
}

.accordion-body button {
	background-color: rgba(103, 103, 103, 0.99);
	color: white;
	border: none;
	border-radius: 2px;
}

.skills {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../images/img_40.jpeg);
	transition: 1.5s;
	z-index: 1;
}

.work {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../images/img_30.png);
	transition: 2s;
	z-index: 0;
}

.grid {
	display: grid;
}

.grid__item {
	padding: 50px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	margin: 200px 50px 200px 50px;
}

.modal-backdrop {
	opacity: 0 !important;
}

.modal {
	animation: slideIn 0.8s linear;
}

@keyframes slideIn {
	0% {
		transform: translateY(400px);
		animation-timing-function: ease-out;
	}

	60% {
		transform: translateY(-30px);
		animation-timing-function: ease-in;
	}

	80% {
		transform: translateY(10px);
		animation-timing-function: ease-out;
	}

	100% {
		transform: translateY(0px);
		animation-timing-function: ease-in;
	}
}

.section-cv {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 30px;
}

.cvname {
	font-size: 20px;
	font-weight: 500;
}

.modal-content {
	border-radius: 20px;
	background-color: rgba(30, 30, 30, 0.99);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.modal-header {
	padding-right: 25px;
	border: none;
}

.btn-close {
	color: white;
}

.modal-body {
	color: white;
	padding: 0 50px 40px 50px;
	text-align: center;
	z-index: 1;
	margin-bottom: 35px;
}

.modal-footer {
	border: none;
}

.btn-secondary {
	margin: auto;
}

.project-description {
	margin-top: 10px;
	text-align: left;
}

.project-description h3,
h5 {
	text-align: center;
}

.pic {
	margin-top: 20px;
	border-radius: 10px;
	width: 28.125em;
	height: 16.875em;
	object-fit: cover;
}

.carousel-control {
	height: 25rem;
}

.icon-link {
	color: white;
}

.github:hover {
	color: #6b306b;
}

.linkedin:hover {
	color: #0072b1;
}

.gmail:hover {
	color: #fd1d1d;
}

.downloadlinks {
	display: flex;
	flex-direction: row;
}

.pdflinks {
	text-decoration: none;
	color: white;
	font-size: 12px;
	width: 100px;
}

.code-skills {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 20px;
	margin-top: 30px;
}

.case-link {
	text-decoration: underline;
	color: white;
	text-align: center;
}

#footer {
	text-align: center;
	display: flex;
	align-items: center;
	margin: auto;
	color: black;
	height: 100px;
	width: auto;
	opacity: 0.8;
	text-shadow: 2px 2px 5px grey;
}

.footer {
	margin: auto;
}

.socialicon {
	font-size: 2rem;
	margin: 20px 5px 0 5px;
}

.contact {
	color: black;
}

@media screen and (max-width: 600px) {
	.hero-image {
		margin: 20px;
	}

	.carousel-control {
		height: auto;
	}

	.project-pic {
		width: 25.25em;
	}

	.pic {
		width: 25.25em;
		height: 13.75em;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		align-self: flex-start;
		justify-content: flex-start;
	}

	.grid {
		margin: 100px 20px 100px 20px;
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	.carousel-control {
		bottom: 85%;
	}

	.hero-image {
		margin: 20px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.project-pic {
		width: 25.25em;
	}

	.modal-body {
		padding: 0 20px 20px 20px;
	}

	.pic {
		width: 25.25em;
		height: 13.75em;
	}

	.carousel-control {
		height: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		align-self: flex-start;
		justify-content: flex-start;
	}

	.hero-text {
		top: 25%;
		font-size: 13px;
	}
}

@media screen and (max-device-width: 512px) and (orientation: portrait) {
	.myname {
		font-size: 35px;
	}

	.modal-content {
		margin: auto;
	}

	.modal-body {
		padding: 0 20px 20px 20px;
	}

	.carousel-control {
		height: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		align-self: flex-start;
		justify-content: flex-start;
	}

	.hero-image {
		margin: 20px;
		background-position: -700px bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.typed-out {
		font-size: 1.5rem;
	}

	.typed-out2 {
		font-size: 2rem;
	}

	.typed-out3 {
		font-size: 0.75rem;
	}

	.project-pic {
		width: 18.25em;
	}

	.pic {
		width: 18.25em;
		height: 9.75em;
	}

	.grid {
		margin: 100px 20px 100px 20px;
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}

	.accordion-header {
		margin-left: 0;
	}
}

@media screen and (max-device-width: 920px) and (orientation: landscape) {
	.myname {
		font-size: 35px;
	}

	.hero-text {
		margin-top: 50px;
		top: 55%;
		font-size: 13px;
	}

	.carousel-control {
		bottom: 85%;
	}

	.hero-image {
		margin: 20px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.carousel-control {
		height: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		align-self: flex-start;
		justify-content: flex-start;
	}

	.grid {
		margin: 100px 20px 100px 20px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
}

@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {
	.carousel-control {
		bottom: 85%;
	}

	.hero-image {
		margin: 20px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.carousel-control {
		height: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		align-self: flex-start;
		justify-content: flex-start;
	}

	.hero-text {
		top: 25%;
		font-size: 13px;
	}
}
